<div class="banner">
  <div class="d-flex align-items-center flex-column">
    <h1>My bikes rental list </h1>
    <%= link_to 'Add a new bike', new_bike_path, class: 'btn btn-primary d-flex align-items-center' %>
  </div>
</div>
<div class="container pt-4">
  <div class="row">
    <div class="col-12 col-md-12">
      <div class="row">
        <% @bikes.each do |bike| %>
          <div class="col-4">
            <div class="bike-card">
              <%= cl_image_tag(bike.photo.key) %>
              <div class="bike-card-content">
                <div class="bike-card-title card-overflow">
                  <h5><%= bike.name %></h5>
                  <h6 class="card-overflow"><%= bike.description %></h6>
                </div>
                <p><%= bike.localization %></p>
                <i class="material-icons mr-2">€</i><%= bike.price %>/day
              </div>
              <div class="bike-card-actions">
                <%= link_to 'More informations', bike_path(bike) %>
                <%= link_to edit_bike_path(bike) do %>
                  <i class="far fa-edit"></i>
                <% end %>
                <%= link_to bike_path(bike), method: :delete do %>
                  <i class="far fa-trash-alt"></i>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
