<p id="notice"><%= notice %></p>

<h1>Bookings</h1>

<table>
  <thead>
    <tr>
      <th>Start date</th>
      <th>End date</th>
      <th>Bike</th>
      <th>State</th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.start_at %></td>
        <td><%= booking.end_at %></td>
        <td><%= booking.bike.name %></td>
        <td><%= booking.state %></td>
        <td><%= link_to 'accepted', mark_accepted_booking_path(booking), method: :patch %>
        <td><%= link_to 'refused', mark_refused_booking_path(booking), method: :patch %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Home page', root_path %>
<br>
