<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>Check our bikes</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <% if @query %>
        <p>You searched for <strong><%= @query %></strong>. We found <%= @bikes.count %> bikes out of our <%= Bike.count %> on our website.</p>
      <% else %>
        <p>All <%= Bike.count %> bikes.</p>
      <% end %>
    </div>
  </div>

  <div class="row">
    <% @bikes.each do |bike| %>
      <div class="col-4">
        <div class="bike-card">
          <div class="bike-card-image" style="background-image: url('<%= bike.picture_url %>')"></div>
          <div class="bike-card-content">
            <div class="bike-card-title">
              <h4><%= bike.description %></h4>
            </div>
            <p><%= bike.localization %></p>
            <div class="flex">
              <i class="material-icons mr-2">euro_symbol</i> <%= bike.price_per_day %>
            </div>
          </div>
          <div class="bike-card-actions">
            <%= link_to 'More info', bike_path(bike) %>
            <%= link_to 'Edit', edit_bike_path(bike), class: 'ml-3 text-warning' %>
            <%= link_to "Remove", bike_path(bike),
                method: :delete, 
                data: { confirm: "Are you sure?" },
                class: 'ml-3 text-danger'%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
