<div class="container">
  <div class="card-trip">
    <img src="https://picsum.photos/600" />
    <div class="bike-show-card">
      <div>
        <h2><%= @bike.name %></h2>
        <p><%= @bike.description %></p>
        <p><%= @bike.localization %></p>
      </div>
      <h2 class="card-trip-pricing"><%= @bike.price %>€</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>
  <%= link_to 'Home page', root_path %> | <%= link_to 'Book this bike', new_bike_booking_path(@bike) %> | <%= link_to 'See my bookings', bookings_path %>
</div>
